workDir = "./work"

params {

    storageDir = "/hps/research/finn/horta/db"
    outputDir = "./output"
    hmmfile = "ftp://ftp.ebi.ac.uk/pub/databases/Pfam/releases/Pfam33.1/Pfam-A.hmm.gz"
    clanfile = "ftp://ftp.ebi.ac.uk/pub/databases/Pfam/releases/Pfam33.1/Pfam-C.gz"
    chunkSize = 1000
    seed = 98748
    downsampleCDS = 0
    domains = "archaea:20,bacteria:980"
    queueSize = 4000
    filterAcc = ".*"
    filterClan = ".*"
}

report.enabled = true

profiles {

    standard {
        process.executor = 'local'
    }

    lsf {

        process {
            executor = 'lsf'
            queue = 'research-rh74'
            perJobMemLimit = true
        }

        executor {
            name = 'lsf'
            queueSize = params.queueSize
            pollInterval = '2 min'
            queueStatInterval = '3 min'
            dumpInterval = '8 min'
        }
    }

    lsfQuick {

        process {
            executor = 'lsf'
            queue = 'research-rh74'
            perJobMemLimit = true
        }

        executor {
            name = 'lsf'
            queueSize = params.queueSize
            pollInterval = '30 sec'
            queueStatInterval = '1 min'
            dumpInterval = '5 min'
        }
    }
}
