workDir = "./work"

params {

    storageDir = "/hps/research/finn/horta/db"
    outputDir = "./output"
    hmmfile = "ftp://ftp.ebi.ac.uk/pub/databases/Pfam/releases/Pfam33.1/Pfam-A.hmm.gz"
    chunkSize = 50
    seed = 98748
    downsampleCDS = 0
    domains = "archaea:4,bacteria:10"
    queueSize = 1000

}

report.enabled = true

profiles {

    standard {
        process.executor = 'local'
    }

    lsf {

        process {
            executor = 'lsf'
            queue = 'research-rh74'
            perJobMemLimit = true
            conda = '/hps/research/finn/horta/conda-envs/iseq'
        }

        executor {
            name = 'lsf'
            queueSize = params.queueSize
            pollInterval = '5 min'
            queueStatInterval = '8 min'
            dumpInterval = '10 min'
        }
    }
}
