workDir = "./work"

params {

    storageDir = "/Users/horta/db"
    outputDir = "./output"
    hmmfile = "ftp://ftp.ebi.ac.uk/pub/databases/Pfam/releases/Pfam33.1/Pfam-A.hmm.gz"
    chunkSize = 1000
    queueSize = 4000
}

report.enabled = true

profiles {

    standard {
        process.executor = 'local'
    }

    lsf {

        process {
            executor = 'lsf'
            queue = 'research-rh74'
            perJobMemLimit = true
        }

        executor {
            name = 'lsf'
            queueSize = params.queueSize
            pollInterval = '2 min'
            queueStatInterval = '3 min'
            dumpInterval = '8 min'
        }
    }

    lsfQuick {

        process {
            executor = 'lsf'
            queue = 'research-rh74'
            perJobMemLimit = true
        }

        executor {
            name = 'lsf'
            queueSize = params.queueSize
            pollInterval = '30 sec'
            queueStatInterval = '1 min'
            dumpInterval = '5 min'
        }
    }
}
